.code-verifier-container textarea {
    width: 600px;
    height: 115px;
}
.code-verifier-container #results-container {
    font-size: 20px;
}

.code-verifier-container #code-text-area {
    float: left;
    margin-right: 30px;
}

.code-verifier-container #results-container #whitelist-success,
.code-verifier-container #results-container #blacklist-success,
.code-verifier-container #results-container #suggested-structure-success {
    color: green;
    display: none;
}

.code-verifier-container #results-container #whitelist-failure,
.code-verifier-container #results-container #blacklist-failure,
.code-verifier-container #results-container #suggested-structure-failure {
    color: orange;
    display: none;
}

.code-verifier-container .footer {
    display: block;
    clear: both;
    width: 100%;
    font-size: 22px;
}
